@import '../vendor/normalize.css';

/*
 * Variables
 *
 */
$color-dark: #444444;
$color-dark-light: lighten($color-dark, 10%);
$color-dark-lighter: lighten($color-dark, 15%);
$color-dark-lightest: lighten($color-dark, 25%);

$color-light: #efefef;
$color-light-dark: darken($color-light, 10%);
$color-light-darker: darken($color-light, 15%);
$color-light-darkest: darken($color-light, 25%);

$color-1: #f15d22;

body {
  padding: 25px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  color: $color-dark;
}

p {
  line-height: 20px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
  padding: 0 0 7.5px 0;
  border-bottom: 1px solid $color-light-dark;
}

h3 {
  font-size: 24px;
  font-weight: 200;
}

h4 {
  color: $color-light-darkest;
  text-transform: uppercase;
}

blockquote {
  margin: 0;
  padding: 5px 10px;
  font-size: 13px;
  border-left: 10px solid $color-light-darker;
  background: $color-light;

  p {
    color: $color-dark-lightest;
  }
}

ul {
  margin: 0 0 0 35px;
  padding: 0;

  li {
    margin: 5px 0;
  }
}

hr {
  height: 1px;
  margin: 15px 0;
  border: none;
  background: $color-light-dark;
}

code {
  padding: 2px;
  border-radius: 5px;
  border: 1px solid $color-light-dark;
  background: $color-light;
}
