$primary-l05: lighten($primary, 5%);
$primary-l10: lighten($primary, 10%);
$primary-l15: lighten($primary, 15%);
$primary-l20: lighten($primary, 20%);
$primary-l25: lighten($primary, 25%);
$primary-l30: lighten($primary, 30%);
$primary-l35: lighten($primary, 35%);
$primary-l40: lighten($primary, 40%);
$primary-l45: lighten($primary, 45%);
$primary-l50: lighten($primary, 50%);
$primary-d05: darken($primary, 5%);
$primary-d10: darken($primary, 10%);
$primary-d15: darken($primary, 15%);
$primary-d20: darken($primary, 20%);
$primary-d25: darken($primary, 25%);
$primary-d30: darken($primary, 30%);
$primary-d35: darken($primary, 35%);
$primary-d40: darken($primary, 40%);
$primary-d45: darken($primary, 45%);
$primary-d50: darken($primary, 50%);

$secondary-l05: lighten($secondary, 5%);
$secondary-l10: lighten($secondary, 10%);
$secondary-l15: lighten($secondary, 15%);
$secondary-l20: lighten($secondary, 20%);
$secondary-l25: lighten($secondary, 25%);
$secondary-l30: lighten($secondary, 30%);
$secondary-l35: lighten($secondary, 35%);
$secondary-l40: lighten($secondary, 40%);
$secondary-l45: lighten($secondary, 45%);
$secondary-l50: lighten($secondary, 50%);
$secondary-d05: darken($secondary, 5%);
$secondary-d10: darken($secondary, 10%);
$secondary-d15: darken($secondary, 15%);
$secondary-d20: darken($secondary, 20%);
$secondary-d25: darken($secondary, 25%);
$secondary-d30: darken($secondary, 30%);
$secondary-d35: darken($secondary, 35%);
$secondary-d40: darken($secondary, 40%);
$secondary-d45: darken($secondary, 45%);
$secondary-d50: darken($secondary, 50%);

$dark-l05: lighten($dark, 5%);
$dark-l10: lighten($dark, 10%);
$dark-l15: lighten($dark, 15%);
$dark-l20: lighten($dark, 20%);
$dark-l25: lighten($dark, 25%);
$dark-l30: lighten($dark, 30%);
$dark-l35: lighten($dark, 35%);
$dark-l40: lighten($dark, 40%);
$dark-l45: lighten($dark, 45%);
$dark-l50: lighten($dark, 50%);
$dark-d05: darken($dark, 5%);
$dark-d10: darken($dark, 10%);
$dark-d15: darken($dark, 15%);
$dark-d20: darken($dark, 20%);
$dark-d25: darken($dark, 25%);
$dark-d30: darken($dark, 30%);
$dark-d35: darken($dark, 35%);
$dark-d40: darken($dark, 40%);
$dark-d45: darken($dark, 45%);
$dark-d50: darken($dark, 50%);

$light-l05: lighten($light, 5%);
$light-l10: lighten($light, 10%);
$light-l15: lighten($light, 15%);
$light-l20: lighten($light, 20%);
$light-l25: lighten($light, 25%);
$light-l30: lighten($light, 30%);
$light-l35: lighten($light, 35%);
$light-l40: lighten($light, 40%);
$light-l45: lighten($light, 45%);
$light-l50: lighten($light, 50%);
$light-d05: darken($light, 5%);
$light-d10: darken($light, 10%);
$light-d15: darken($light, 15%);
$light-d20: darken($light, 20%);
$light-d25: darken($light, 25%);
$light-d30: darken($light, 30%);
$light-d35: darken($light, 35%);
$light-d40: darken($light, 40%);
$light-d45: darken($light, 45%);
$light-d50: darken($light, 50%);
