@font-face {
    font-family: 'Droid Serif';
    src: url('../fonts/droid-serif/DroidSerif-webfont.eot');
    src: url('../fonts/droid-serif/DroidSerif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droid-serif/DroidSerif-webfont.woff') format('woff'),
         url('../fonts/droid-serif/DroidSerif-webfont.ttf') format('truetype'),
         url('../fonts/droid-serif/DroidSerif-webfont.svg#droid_serifregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('../fonts/droid-serif/DroidSerif-Italic-webfont.eot');
    src: url('../fonts/droid-serif/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droid-serif/DroidSerif-Italic-webfont.woff') format('woff'),
         url('../fonts/droid-serif/DroidSerif-Italic-webfont.ttf') format('truetype'),
         url('../fonts/droid-serif/DroidSerif-Italic-webfont.svg#droid_serifitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('../fonts/droid-serif/DroidSerif-Bold-webfont.eot');
    src: url('../fonts/droid-serif/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droid-serif/DroidSerif-Bold-webfont.woff') format('woff'),
         url('../fonts/droid-serif/DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('../fonts/droid-serif/DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('../fonts/droid-serif/DroidSerif-BoldItalic-webfont.eot');
    src: url('../fonts/droid-serif/DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droid-serif/DroidSerif-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/droid-serif/DroidSerif-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/droid-serif/DroidSerif-BoldItalic-webfont.svg#droid_serifbold_italic') format('svg');
    font-weight: 600;
    font-style: italic;
}
