@font-face {
  font-family: 'Permanent Marker';
  src: url('../fonts/permanent-marker/PermanentMarker-webfont.eot');
  src: url('../fonts/permanent-marker/PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/permanent-marker/PermanentMarker-webfont.woff') format('woff'),
       url('../fonts/permanent-marker/PermanentMarker-webfont.ttf') format('truetype'),
       url('../fonts/permanent-marker/PermanentMarker-webfont.svg#permanent_markerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
